<style>
  .message_content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 16px;
    line-height: 24px;
  }
</style>

<div class="message_content">
  <p>Olá {{name}}!</p>
  <br>
  <p>Recebemos uma solicitação para redefinição de senha do seu usuario</p>
  <p>Se foi você que solicitou acesse o link abaixo, caso o contrario desconsidere o email</p>
  <p>
    <a href="{{link}}">Redefinir senha</a>
  </p>
  <p>Obrigado!</p>
</div>
